/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #eeeeee;
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between; /* Space between logo and nav */
    align-items: center;
    position: relative;
    height: 100px;
    background-color: #1f1f1f;
    padding: 0 20px; /* Add some padding for better spacing */
}

#logo {
    position: absolute; /* Position logo absolutely */
    left: 30px; /* Adjust left space */
    width: 90px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

header h1 {
    margin: 0; /* Remove default margin from h1 */
    color: #00bcd4;
    text-align: center; /* Center the title text */
    flex-grow: 1; /* Allow the title to grow */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #eeeeee;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main Section Styling */
section {
    padding: 20px;
    margin: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section h2 {
    color: #00bcd4;
    font-size: 1.5em;
    margin-top: 0;
}

section p, section ul {
    color: #cccccc;
}

/* Troubleshooter Styling */
#troubleshooter {
    text-align: center;
}

#question-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #2a2a2a;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#question-container p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

#question-container button {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 10px 5px;
    background-color: #00bcd4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#question-container button:hover {
    background-color: #0288a7;
}

/* Link Styling */
#question-container a {
    color: #00bcd4;
    text-decoration: none;
    font-size: 0.9em;
}

#question-container a:hover {
    text-decoration: underline;
}

/* Footer Styling */
.footer {
    background-color: #1f1f1f;
    color: #888888;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}

/* Additional Link Styling */
#question-container a.question-link {
    display: block;
    margin-top: 10px;
    color: #00bcd4;
    text-decoration: none;
}

#question-container a.question-link:hover {
    text-decoration: underline;
}

/* Search Input Styling */
#search {
    width: 300px; /* Set the desired width */
    padding: 10px; /* Optional: add some padding for better appearance */
    margin-bottom: 20px; /* Optional: add some space below the input */
    font-size: 16px; /* Optional: adjust font size */
}

/* Hidden Tags */
.hidden-tags {
    display: none; /* Hides the tags */
}

/* Plugin Item Styling */
.plugin-item {
    margin: 10px 0;
}